<nav>
    <header id="main-header">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
            <div class="container">
              <a class="navbar-brand" href="#">Kasiwebsites</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Products</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Cart</a>
                  </li>
                
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin Dashboard
                    </a>
                    <ul class="dropdown-menu bg-dark navbar-dark">
                        <% if (!locals.user) { %>
                        <li class="nav-item">
                            <a class="nav-link signup-btn" id="signup-btn" href="/auth/signup">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link login-btn" id="login-btn" href="/auth/login">Login</a>
                        </li>
                        <% } else { %>
                            <li><a href="/auth/logout">Logout</a></li>
                        <% } %>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>

</nav>
