<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/cart">Cart</a></li>
        <li><a href="/quote">Quote</a></li>
        <li><a href="/invoice">Invoice</a></li>
    </ul>
</nav>
